@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body {
  background-color: rgb(255 226 165);
} 

#cover {
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
